.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
test-results/
playwright-report/
android/.gradle/
android/local.properties
ios/Flutter/ephemeral/
*.iml
.idea/
.vscode/
